body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  background: white;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #3b82f6;
}

button {
  width: 95%;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #2563eb;
}

textarea {
  width: 95%;
  height: 150px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
}
